#Thu, 20 Jun 2013 14:33:14 -0700
app.name=FileBrowser

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=0563a9dd-ca6c-42c4-9230-a0874f5bd225
