/**
 * @file _button.scss
 * @author Simon Brunel
 */

.x-button {
    background-image: none !important;
    border: 1px solid darken($accent-color, 20%) !important;
    border-radius: 0.2em !important;

    &.x-button-normal {
        background-color: $accent-color !important;
        &.x-button-pressing {
            background-color: darken($accent-color, 10%) !important;
        }
    }
    
    .x-button-icon:before {
        color: lighten($base-color, 20%);
    }

    &.x-item-disabled {
        background-color: $base-color !important;
        border: 1px solid darken($base-color, 5%) !important;

        .x-button-icon:before {
            color: darken($base-color, 10%);
        }
    }

    .x-button-label {
        color: lighten($base-color, 35%);
        text-transform: uppercase;
    }
}
