.x-list {
	border-right: 1px solid darken($base-color, 30%);

	.x-body {
		background-color: $base-color;

		.x-list-item {
			padding: .1em .5em .1em .5em;
			padding-right: 10px !important;
			border-top: none;

			&.x-item-selected {
				background: none !important;;
				background-image: none !important;
				background-color: none !important;

				.x-innerhtml {
					background-color: lighten($accent-color, 39%);
					border: 1px solid lighten($accent-color, 25%);
				}
			}

			&.x-item-pressed {
				background: none !important;
				background-image: none !important;
				background-color: none !important;
			}

			.x-innerhtml {
				background-color: lighten($base-color, 30%);
	            @include border-radius(.3em);
	            border: 1px solid darken($base-color, 10%);
	            box-shadow: 0px 4px 7px -5px darken($base-color, 20%);
	            overflow: hidden;
	            display: table;
	            padding: .4em;

	            .mug-wrapper {
	            	display: table-cell; 
	            	vertical-align: middle;
	            	width: 50px;

	            	.mug {
	            		width: 50px;
	            	}
	            }

	            .text-wrapper {
	            	padding-left: 0.4em;
	            	display: table-cell; 
	            	vertical-align: middle;
	            	height: 60px;

		            .display-name {
		            	display: block;
					    font-family: Klavika-Regular;
					    text-transform: uppercase;
		            }

		            .title {
		            	font-family: Helvetica;
		            	font-size: 90%;
		            	color: darken($base-color, 45%);
		            }
		        }
			}
		}
	}
}